{{ form_start(form) }}
<div class="row">
    <div class="col">
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>{{ partido.participanteLocal }}</th>
                    <th>{{ partido.participanteVisitante }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>PUNTUACION</td>
                    <td>{{ form_widget(form.resultadoLocal) }}</td>
                    <td>{{ form_widget(form.resultadoVisitante) }}</td>
                </tr>
                <tr>
                    <td><h6>AUSENTE:</h6></td>
                    <td>{{ form_widget(form.ausenteLocal) }}</td>
                    <td>{{ form_widget(form.ausenteVisitante) }}</td>
                    {# <td colspan="2">{{ form_widget(form.ausente) }}</td> #}
                </tr>
            </tbody>
        </table>
    </div>
    {{ form_widget(form) }}
</div>
<div class="row">
    <div class="col-6">
        <button type="submit" id="AceptarGNR" class="btn btn-success btn-lg btn-block">GUARDAR RESULTADO</button>
    </div>
    <div class="col-6">
        <button type="button" class="btn btn-danger btn-lg btn-block" id="" onclick=location.href="{{path('competencia_deportiva_fixture_index',{'id':competencia.id})}}" name="Cancelar">CANCELAR</button>
    </div>
</div>





{{ form_end(form) }}
{% block javascripts %}


<script type="text/javascript">

    console.log('JavaScript Gestionar Resultado Puntuacion Funcionando');

/*{#
    if ( {{ (resultado.resultadoLocal) }} == '') {

  var resultadoLocal = null;
  var resultadoVisitante = null;

     } else {
         var resultadoLocal = {{ (resultado.resultadoLocal) }};
         var resultadoVisitante = {{ (resultado.resultadoVisitante) }};
     }



    console.log('Puntuacion Local '    +resultadoLocal);
    console.log('Puntuacion Visitante ' +resultadoVisitante);
#}
*/



</script>


{% endblock %}