{{ form_start(form) }}
<div class="row">
    <div class="col">
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>{{ partido.participanteLocal }}</th>
                    <th>{{ partido.participanteVisitante }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th><h6>PUNTUACION:</h6></th>
                    <td>{{ form_widget(form.resultadoLocal) }}</td>
                    <td>{{ form_widget(form.resultadoVisitante) }}</td>
                </tr>
                <tr>
                    <td><h6>AUSENTE:</h6></td>
                    <td>{{ form_widget(form.ausenteLocal) }}</td>
                    <td>{{ form_widget(form.ausenteVisitante) }}</td>
                    {# <td colspan="2">{{ form_widget(form.ausente) }}</td> #}
                </tr>
            </tbody>
        </table>
    </div>
    {{ form_widget(form) }}
</div>
<div class="row">
    <div class="col-6">
        <button type="submit" id="AceptarGNR" class="btn btn-success btn-lg btn-block">GUARDAR RESULTADO</button>
    </div>
    <div class="col-6">
        <button type="button" class="btn btn-danger btn-lg btn-block" id="" onclick=location.href="{{path('competencia_deportiva_fixture_index',{'id':competencia.id})}}" name="Cancelar">CANCELAR</button>
    </div>
</div>






{{ form_end(form) }}
{% block javascripts %}


<script type="text/javascript">

    console.log('JavaScript Gestionar Resultado Puntuacion Funcionando');
    var puntosWO = {{ competencia.puntosPorNoPresentarse }};
    var ausenteLocal = isNaN({{ resultado.ausenteLocal }}) ? 0:1;
    var ausenteVisitante =  isNaN({{ resultado.ausenteVisitante }}) ? 0:1;
    var permiteEmpate = isNaN({{ competencia.permiteEmpate }}) ? 0:1;

    /*var permiteEmpate = ;*/

    console.log('Puntos WO: ' +puntosWO);
    console.log('Ausente Local: ' +ausenteLocal);
    console.log('Ausente Visitante: ' +ausenteVisitante);
    console.log('Permite Empate: ' +permiteEmpate);

    if (ausenteLocal==1){

        var checkBoxLocal = document.getElementById("resultado_puntuacion_ausenteLocal_0").checked=true;

    };
    if (ausenteVisitante==1){

        var checkBoxVisitante = document.getElementById("resultado_puntuacion_ausenteVisitante_0").checked=true;

    };


    function checkedLocalFunction() {

        var checkBoxVisitante = document.getElementById("resultado_puntuacion_ausenteVisitante_0");
        var checkBoxLocal = document.getElementById("resultado_puntuacion_ausenteLocal_0");

        if ((checkBoxLocal.checked == true) && (checkBoxVisitante.checked == true)){
            var puntajeVisitante =  document.getElementById("resultado_puntuacion_resultadoVisitante");
            var puntajeLocal =  document.getElementById("resultado_puntuacion_resultadoLocal");
            puntajeVisitante.value = puntosWO;
            puntajeLocal.value = 0;
            var checkBoxVisitante = document.getElementById("resultado_puntuacion_ausenteVisitante_0").checked=false;

        } else {
            if ((checkBoxLocal.checked == false) && (checkBoxVisitante.checked == true)){


                var puntajeVisitante =  document.getElementById("resultado_puntuacion_resultadoVisitante");
                var puntajeLocal =  document.getElementById("resultado_puntuacion_resultadoLocal");
                puntajeVisitante.value = 0;
                puntajeLocal.value = puntosWO;
                var checkBoxVisitante = document.getElementById("resultado_puntuacion_ausenteVisitante_0").checked=true;


            } else { if ((checkBoxLocal.checked == true) && (checkBoxVisitante.checked == false)){

                var puntajeVisitante =  document.getElementById("resultado_puntuacion_resultadoVisitante");
                var puntajeLocal =  document.getElementById("resultado_puntuacion_resultadoLocal");
                puntajeVisitante.value = puntosWO;
                puntajeLocal.value = 0;
                var checkBoxVisitante = document.getElementById("resultado_puntuacion_ausenteVisitante_0").checked=false;


            } else     if ((checkBoxLocal.checked == false) && (checkBoxVisitante.checked == false)){

                var puntajeVisitante =  document.getElementById("resultado_puntuacion_resultadoVisitante");
                var puntajeLocal =  document.getElementById("resultado_puntuacion_resultadoLocal");
                puntajeVisitante.value = 0;
                puntajeLocal.value = 0;


            } else {

            }

            }

        }

    }


    function checkedVisitanteFunction() {

        var checkBoxVisitante = document.getElementById("resultado_puntuacion_ausenteVisitante_0");
        var checkBoxLocal = document.getElementById("resultado_puntuacion_ausenteLocal_0");

        if ((checkBoxLocal.checked == true) && (checkBoxVisitante.checked == true)){
            var puntajeVisitante =  document.getElementById("resultado_puntuacion_resultadoVisitante");
            var puntajeLocal =  document.getElementById("resultado_puntuacion_resultadoLocal");
            puntajeVisitante.value = 0;
            puntajeLocal.value = puntosWO;
            var checkBoxLocal = document.getElementById("resultado_puntuacion_ausenteLocal_0").checked=false;

        } else {
            if ((checkBoxLocal.checked == false && checkBoxVisitante.checked == true)){


                var puntajeVisitante =  document.getElementById("resultado_puntuacion_resultadoVisitante");
                var puntajeLocal =  document.getElementById("resultado_puntuacion_resultadoLocal");
                puntajeVisitante.value = 0;
                puntajeLocal.value = puntosWO;
                var checkBoxLocal = document.getElementById("resultado_puntuacion_ausenteLocal_0").checked=false;


            } else { if ((checkBoxLocal.checked == true) && (checkBoxVisitante.checked == false)){

                var puntajeVisitante =  document.getElementById("resultado_puntuacion_resultadoVisitante");
                var puntajeLocal =  document.getElementById("resultado_puntuacion_resultadoLocal");
                puntajeVisitante.value = 0;
                puntajeLocal.value = puntosWO;
                var checkBoxLocal = document.getElementById("resultado_puntuacion_ausenteLocal_0").checked=false;


            } else     if ((checkBoxLocal.checked == false) && (checkBoxVisitante.checked == false)){

                var puntajeVisitante =  document.getElementById("resultado_puntuacion_resultadoVisitante");
                var puntajeLocal =  document.getElementById("resultado_puntuacion_resultadoLocal");
                puntajeVisitante.value = 0;
                puntajeLocal.value = 0;


            } else {

            }

            }

        }

    }


    function mMaxVPuntuacionLocal(that, value) {
        var checkBoxLocal = document.getElementById("resultado_puntuacion_ausenteLocal_0").checked=false;
        var checkBoxVisitante = document.getElementById("resultado_puntuacion_ausenteVisitante_0").checked=false;
        if (permiteEmpate==1){
            let min = parseInt(that.getAttribute("min"));
            let max = parseInt(that.getAttribute("max"));
            let val = parseInt(value);


            if ( (val < min) || isNaN(val)) {
                return min;

            }else if (val>max){
                return max;
            } else {
                return val;
            }
        } else {
            var puntajeVisitante =  document.getElementById("resultado_puntuacion_resultadoVisitante");

            let min = parseInt(that.getAttribute("min"));
            let max = parseInt(that.getAttribute("max"));
            let val = parseInt(value);
            if ((puntajeVisitante.value == max) && (val >= max)){
                let val2 = max-1;
                return  val2;
            } else { if((puntajeVisitante.value == min) && (val == min)){
                let val2 = val+1;
                return  val2;
            } else { if(puntajeVisitante.value == val){
                let val2 = val+1;
                return val2;
            }

            }

            }
            if ( (val < min) || isNaN(val)) {
                return min;

            }else if (val>max){
                return max;
            } else {
                return val;
            }
        }



    };

    function mMaxVPuntuacionVisitante(that, value) {
        var checkBoxLocal = document.getElementById("resultado_puntuacion_ausenteLocal_0").checked=false;
        var checkBoxVisitante = document.getElementById("resultado_puntuacion_ausenteVisitante_0").checked=false;
        if (permiteEmpate==1){

            let min = parseInt(that.getAttribute("min"));
            let max = parseInt(that.getAttribute("max"));
            let val = parseInt(value);

            if ( (val < min) || isNaN(val)) {
                return min;

            }else if (val>max){
                return max;
            } else {
                return val;
            }
        } else {
            var puntajeLocal =  document.getElementById("resultado_puntuacion_resultadoLocal");

            let min = parseInt(that.getAttribute("min"));
            let max = parseInt(that.getAttribute("max"));
            let val = parseInt(value);
            if ((puntajeLocal.value == max) && (val >= max)){
                let val2 = max-1;
                return  val2;
            } else { if((puntajeLocal.value == min) && (val <= min)){
                let val2 = min+1;
                return  val2;
            } else { if(puntajeLocal.value == val){
                let val2 = val+1;
                return val2;
            }

            }

            }
            if ( (val < min) || isNaN(val)) {
                return min;

            }else if (val>max){
                return max;
            } else {
                return val;
            }
        }



    };

    function igualLocalFunction(that,value) {
        var checkBoxLocal = document.getElementById("resultado_puntuacion_ausenteLocal_0").checked=false;
        var checkBoxVisitante = document.getElementById("resultado_puntuacion_ausenteVisitante_0").checked=false;

        if (permiteEmpate==1){
            let min = parseInt(that.getAttribute("min"));
            let max = parseInt(that.getAttribute("max"));
            let val = parseInt(value);


            if ( (val < min) || isNaN(val)) {
                return min;

            }else if (val>max){
                return max;
            } else {
                return val;
            }
        } else {
            var puntajeVisitante =  document.getElementById("resultado_puntuacion_resultadoVisitante");
            let min = parseInt(that.getAttribute("min"));
            let max = parseInt(that.getAttribute("max"));
            let val = parseInt(value);
            if ((puntajeVisitante.value == max) && (val >= max)){
                let val2 = max-1;
                return  val2;
            } else { if((puntajeVisitante.value == min) && (val == min)){
                let val2 = val+1;
                return  val2;
            } else { if(puntajeVisitante.value == val){
                let val2 = val+1;
                return val2;
            }

            }

            }
            if ( (val < min) || isNaN(val)) {
                return min;

            }else if (val>max){
                return max;
            } else {
                return val;
            }
        }



    }

    function igualVisitanteFunction(that,value) {
        var checkBoxLocal = document.getElementById("resultado_puntuacion_ausenteLocal_0").checked=false;
        var checkBoxVisitante = document.getElementById("resultado_puntuacion_ausenteVisitante_0").checked=false;
        if (permiteEmpate==1){

            let min = parseInt(that.getAttribute("min"));
            let max = parseInt(that.getAttribute("max"));
            let val = parseInt(value);

            if ( (val < min) || isNaN(val)) {
                return min;

            }else if (val>max){
                return max;
            } else {
                return val;
            }
        } else {
            var puntajeLocal =  document.getElementById("resultado_puntuacion_resultadoLocal");

            let min = parseInt(that.getAttribute("min"));
            let max = parseInt(that.getAttribute("max"));
            let val = parseInt(value);
            if ((puntajeLocal.value == max) && (val >= max)){
                let val2 = max-1;
                return  val2;
            } else { if((puntajeLocal.value == min) && (val <= min)){
                let val2 = min+1;
                return  val2;
            } else { if(puntajeLocal.value == val){
                let val2 = val+1;
                return val2;
            }

            }

            }
            if ( (val < min) || isNaN(val)) {
                return min;

            }else if (val>max){
                return max;
            } else {
                return val;
            }
        }

    }





</script>


{% endblock %}