{% extends 'base.html.twig' %}

{% block title %}Fixture{% endblock %}

{% block body %}
<div class="container">


                <table class="table table-striped table-bordered table-hover" id="">
                    <tbody>
                    <tr>
                        <th>Nombre: </th>
                        <td>{{ competencia.nombre }}</td>
                        <th>Deporte:</th>
                        <td>{{ competencia.deporte}}</td>


                    </tr>
                    <tr>
                        <th>Modalidad:</th>
                        <td>{{ competencia.modalidad }}</td>
                        <th>Estado:</th>
                        <td>{{ competencia.estado}} </td>
                    </tr>

                    </tbody>
                </table>

    <p></p>
    <div class="row">
        <div class="col-7" >
            <h3>Fixture </h3>
        </div>
         <div class="col-2 ">
                <p style="text-align:right">FECHA NUMERO:</p>
         </div>
        <div class="col-3">
            <div class="form-group">

                <select class="form-control" id="exampleFormControlSelect1">
                    <option value="" >TODAS LAS FECHAS</option>
                     {% for f in fechas %}

                    <option value="{{f.numero}}">{{f.numero}}</option>
                    {% else %}

        {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <table id="myTableFixture" class="table table-striped table-bordered">


        {% if (formaPuntuacion == 'TIPO_FINAL') %}
            <thead class="thead-dark">
            <tr>
                <th>Fecha Nro.</th>
                <th>Local</th>
                <th>Win/Lose/Draw</th>
                <th>vs</th>
                <th>Win/Lose/Draw</th>
                <th>Visitante</th>
                <th>Lugar</th>
                <th>Accion</th>
            </tr>
            </thead>
            <tbody>
            {% for fecha in fechas %}
                {% for partido in fecha.partidos %}
                    <tr>
                        <td>{{fecha.numero}}</td>

                        <td>{{ partido.participanteLocal }}</td>
                        {% if (partido.resultado != NULL) %}
                            {% if  (partido.resultado.empate) %}
                            <td>DRAW</td>
                            <td>vs</td>
                            <td>DRAW</td>
                            {% elseif (partido.resultado.ganadorLocal==1) %}
                                <td>WIN</td>
                                <td>vs</td>
                                <td>LOSE</td>
                            {% else %}
                                <td>LOSE</td>
                                <td>vs</td>
                                <td>WIN</td>
                            {% endif %}
                        {% else %}
                            <td></td>
                            <td>vs</td>
                            <td></td>
                        {% endif %}
                        <td>{{ partido.participanteVisitante}}</td>
                        <td>{{ partido.lugar}}</td>
                        <td>
                            <button type="button" id="" class="btn btn-warning btn-block" onclick=location.href="{{ path('competencia_deportiva_fixture_partido_resultado_gestionar', {'id_competencia': id_competencia, 'id_partido': partido.id}) }}"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-eyeglasses" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M4 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 0-4 0 2 2 0 0 0 4 0z"/>
                                </svg> Gestionar resultado
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="11">NO SE ENCONTRARON PARTIDOS/ENCUENTROS.</td>
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}


        {% if (formaPuntuacion == 'TIPO_PUNTUACION') %}
        <thead class="thead-dark">
        <tr>
            <th>Fecha Nro.</th>
            <th>Local</th>
            <th>Pts</th>
            <th>vs</th>
            <th>Pts</th>
            <th>Visitante</th>
            <th>Lugar</th>
            <th>Accion</th>
        </tr>
        </thead>
        <tbody>
        {% for fecha in fechas %}
            {% for partido in fecha.partidos %}
            <tr>
                <td>{{fecha.numero}}</td>

                <td>{{ partido.participanteLocal }}</td>
                {% if (partido.resultado != NULL) %}

                  <td> {{ partido.resultado.resultadoLocal }}</td>
                    <td>vs</td>
                        <td> {{ partido.resultado.resultadoVisitante }}</td>
               {% else %}
                  <td></td>

                <td>vs</td>
               <td></td>

                {% endif %}
                <td>{{ partido.participanteVisitante}}</td>
                <td>{{ partido.lugar}}</td>
                <td>
                    <button type="button" id="" class="btn btn-warning btn-block" onclick=location.href="{{ path('competencia_deportiva_fixture_partido_resultado_gestionar', {'id_competencia': id_competencia, 'id_partido': partido.id}) }}"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-eyeglasses" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 0-4 0 2 2 0 0 0 4 0z"/>
                        </svg> Gestionar resultado
                    </button>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="11">NO SE ENCONTRARON PARTIDOS/ENCUENTROS.</td>
            </tr>
        {% endfor %}
        </tbody>
        {% endif %}

        {% if (formaPuntuacion == 'TIPO_SETS') %}
            <thead class="thead-dark">
            <tr>
                <th>Fecha Nro.</th>
                <th>Local/Visitante</th>
                {% for i in range (1,cantidadSets) %}
                <th>Set {{ i }}      </th>
                {% endfor %}
                <th>Lugar</th>
                <th>Accion</th>
            </tr>
            </thead>
            <tbody>
            {% for fecha in fechas %}
                {% for partido in fecha.partidos %}
                    <tr>
                        <th>{{fecha.numero}}</th>
                        <td >{{partido.participanteLocal}} / {{ partido.participanteVisitante}}</td>
                        {% if (partido.resultado != null) %}
                        {% for set in partido.resultado.sets %}
                            {% if ((partido.resultado.ausenteLocal == 1) or (partido.resultado.ausenteVisitante == 1))%}
                                {% if (partido.resultado.ausenteLocal == 1) %}
                                      <td WIDTH="300">AUSENTE / WIN</td>
                                    {% else %}
                                        <td WIDTH="300">WIN / AUSENTE</td>
                                {% endif %}
                            {% else %}
                            <td>{{  set.puntajeLocal }} / {{  set.puntajeVisitante }}</td>
                            {% endif %}
                        {% endfor %}
                {% else %}
                    {% for i in range (1,cantidadSets) %}
                        <td>   </td>
                    {% endfor %}
                {% endif %}
                        <td>{{partido.lugar}}</td>
                        <td>
                            <button type="button" id="" class="btn btn-warning btn-block" onclick=location.href="{{ path('competencia_deportiva_fixture_partido_resultado_gestionar', {'id_competencia': id_competencia, 'id_partido': partido.id}) }}"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-eyeglasses" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M4 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 0-4 0 2 2 0 0 0 4 0z"/>
                                </svg> Gestionar resultado
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="11">NO SE ENCONTRARON PARTIDOS/ENCUENTROS.</td>
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}


    </table>
    <p></p>
    <hr>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <div class="form-group">
                <button type="button" class="btn btn-info btn-block" onclick=location.href="{{path('competencia_deportiva_show',{'id': id_competencia})}}"> <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                    </svg> Volver a competencia</button>
            </div>
            {# <a href="{{ path('competencia_deportiva_index') }}">back to list</a> #}
        </div>
        {#
        <div class="col-6">
            <div class="form-group">
                <button type="button" class="btn btn-info btn-block" onclick=location.href="{{ path('competencia_deportiva_index') }}"> <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-list-nested" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z"/>
                    </svg> Mostrar Todas las Competencias</button>
            </div>#}
        {# <a href="{{ path('competencia_deportiva_index') }}">back to list</a> #}
    </div>
</div>

    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
            console.log('JavaScript Listar Fechas Funcionando');

            var table1;

           if ('{{ formaPuntuacion }}'=='TIPO_SETS') {



               table1 = $('#myTableFixture').DataTable({

                   'destroy': true,
                   "language": {
                       "decimal":        "",
                       "emptyTable":     "NO HAY FECHAS NI PARTIDOS PARA MOSTRAR",
                       "info":           "Mostrando PARTIDOS del _START_ al _END_ de _TOTAL_ PARTIDOS",
                       "infoEmpty":      "Mostrando 0 de 0 de 0 PARTIDOS",
                       "infoFiltered":   "(Filtrado de un total de _MAX_ PARTIDOS)",
                       "infoPostFix":    "",
                       "thousands":      ",",
                       "lengthMenu":     "MOSTRAR _MENU_ PARTIDOS",
                       "loadingRecords": "Cargando...",
                       "processing":     "Procesando...",
                       "search":         "Fecha Numero:",
                       "zeroRecords":    "NO SE ENCONTRAR FECHAS NI PARTIDOS ...",
                       "paginate": {
                           "first":      "Primero",
                           "last":       "Ultimo",
                           "next":       "Siguiente",
                           "previous":   "Anterior"
                       },
                       "aria": {
                           "sortAscending":  ": Columna Ascendente",
                           "sortDescending": ": Columna Descendente",
                       }

                   },

                   columnDefs: [
                       { orderable: false, targets: [2,3,4,5,6,7,8] },
                       {searchable: false, targets:[1,2,3,4,5,6,7,8]},

                   ],
                   dom:'tip',
                   searching: true,
                   retrieve: false,
                   lengthChange: false
               });



           } else {
               if ('{{ formaPuntuacion }}' == 'TIPO_PUNTUACION') {

                   table1 = $('#myTableFixture').DataTable({

                       'destroy': true,
                       "language": {
                           "decimal": "",
                           "emptyTable": "NO HAY FECHAS NI PARTIDOS PARA MOSTRAR",
                           "info": "Mostrando PARTIDOS del _START_ al _END_ de _TOTAL_ PARTIDOS",
                           "infoEmpty": "Mostrando 0 de 0 de 0 PARTIDOS",
                           "infoFiltered": "(Filtrado de un total de _MAX_ PARTIDOS)",
                           "infoPostFix": "",
                           "thousands": ",",
                           "lengthMenu": "MOSTRAR _MENU_ PARTIDOS",
                           "loadingRecords": "Cargando...",
                           "processing": "Procesando...",
                           "search": "Fecha Numero:",
                           "zeroRecords": "NO SE ENCONTRAR FECHAS NI PARTIDOS ...",
                           "paginate": {
                               "first": "Primero",
                               "last": "Ultimo",
                               "next": "Siguiente",
                               "previous": "Anterior"
                           },
                           "aria": {
                               "sortAscending": ": Columna Ascendente",
                               "sortDescending": ": Columna Descendente",
                           }

                       },


                       columnDefs: [
                           {orderable: false, targets: [3, 7]},
                           {searchable: false, targets: [1, 2, 3, 4, 5, 6]},
                       ],
                       dom: 'tip',
                       searching: true,
                       retrieve: false,
                       lengthChange: true,

                   });
               } else {

                   table1 = $('#myTableFixture').DataTable({

                       'destroy': true,
                       "language": {
                           "decimal":        "",
                           "emptyTable":     "NO HAY FECHAS NI PARTIDOS PARA MOSTRAR",
                           "info":           "Mostrando PARTIDOS del _START_ al _END_ de _TOTAL_ PARTIDOS",
                           "infoEmpty":      "Mostrando 0 de 0 de 0 PARTIDOS",
                           "infoFiltered":   "(Filtrado de un total de _MAX_ PARTIDOS)",
                           "infoPostFix":    "",
                           "thousands":      ",",
                           "lengthMenu":     "MOSTRAR _MENU_ PARTIDOS",
                           "loadingRecords": "Cargando...",
                           "processing":     "Procesando...",
                           "search":         "Fecha Numero:",
                           "zeroRecords":    "NO SE ENCONTRAR FECHAS NI PARTIDOS ...",
                           "paginate": {
                               "first":      "Primero",
                               "last":       "Ultimo",
                               "next":       "Siguiente",
                               "previous":   "Anterior"
                           },
                           "aria": {
                               "sortAscending":  ": Columna Ascendente",
                               "sortDescending": ": Columna Descendente",
                           }

                       },

                       columnDefs: [
                           { orderable: false, targets: [3,7] },
                           {searchable: false, targets:[1,2,3,4,5,6,7]},

                       ],
                       dom:'tip',
                       searching: true,
                       retrieve: false,
                       lengthChange: true,
                   });



               }
           }

            $('#exampleFormControlSelect1').on('change', function() {
                table1.search($(this).val()).draw() ;
            });

        </script>
    {% endblock %}

{% endblock %}