{% extends 'base.html.twig' %}

{% block title %}LugarDeRealizacion index{% endblock %}

{% block body %}
    <h1>LugarDeRealizacion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Codigo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lugar_de_realizacion in lugar_de_realizacions %}
            <tr>
                <td>{{ lugar_de_realizacion.id }}</td>
                <td>{{ lugar_de_realizacion.nombre }}</td>
                <td>{{ lugar_de_realizacion.descripcion }}</td>
                <td>{{ lugar_de_realizacion.codigo }}</td>
                <td>
                    <a href="{{ path('lugar_de_realizacion_show', {'id': lugar_de_realizacion.id}) }}">show</a>
                    <a href="{{ path('lugar_de_realizacion_edit', {'id': lugar_de_realizacion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lugar_de_realizacion_new') }}">Create new</a>
{% endblock %}
