{% extends 'base.html.twig' %}

{% block title %}Lugares De Realizacion{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h3>Lugares De Realizacion</h3>
        </div>
        <div class="col-4">
            <button type="button" id="" class="btn btn-success btn-block" onclick=location.href="{{ path('lugar_de_realizacion_new') }}" > <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12.166 8.94C12.696 7.867 13 6.862 13 6A5 5 0 0 0 3 6c0 .862.305 1.867.834 2.94.524 1.062 1.234 2.12 1.96 3.07A31.481 31.481 0 0 0 8 14.58l.208-.22a31.493 31.493 0 0 0 1.998-2.35c.726-.95 1.436-2.008 1.96-3.07zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                    <path fill-rule="evenodd" d="M8 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg> Nuevo Lugar de Realizacion
            </button>
            {#  <a href="{{ path('lugar_de_realizacion_new') }}">Create new</a> #}
        </div>
    </div>
    <p></p>

    <table class="table table-striped table-bordered table-hover" id="">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Codigo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lugar_de_realizacion in lugar_de_realizacions %}
            <tr>
                <td>{{ lugar_de_realizacion.nombre }}</td>
                <td>{{ lugar_de_realizacion.descripcion }}</td>
                <td>{{ lugar_de_realizacion.codigo }}</td>
                <td>
                    {# <a href="{{ path('lugar_de_realizacion_show', {'id': lugar_de_realizacion.id}) }}">show</a>#}
                    {# <a href="{{ path('lugar_de_realizacion_edit', {'id': lugar_de_realizacion.id}) }}">edit</a>#}
                    <button type="button" id="" class="btn btn-info btn-block" onclick=location.href="{{ path('lugar_de_realizacion_show', {'id': lugar_de_realizacion.id}) }}"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eyeglasses" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4 6a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 0-4 0 2 2 0 0 0 4 0z"/>
                        </svg> Ver Lugar
                    </button>

                    <button type="button" id="" class="btn btn-warning btn-block" onclick=location.href="{{ path('lugar_de_realizacion_edit', {'id': lugar_de_realizacion.id}) }}" ><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                        </svg> Editar
                    </button>


                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">NO SE ENCONTRARON LUGARES DE REALIZACION</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
