{% extends 'base.html.twig' %}

{% block title %}Disponibilidad{% endblock %}

{% block body %}
    <h1>Disponibilidad</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ disponibilidad.id }}</td>
            </tr>
            <tr>
                <th>Disponibilidad</th>
                <td>{{ disponibilidad.disponibilidad }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('disponibilidad_index') }}">back to list</a>

    <a href="{{ path('disponibilidad_edit', {'id': disponibilidad.id}) }}">edit</a>

    {{ include('disponibilidad/_delete_form.html.twig') }}
{% endblock %}
