<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}    Bienvenido!     {% endblock %}</title>

        {% block stylesheets %}

            {# Boostrap Styles: #}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
            <link rel="stylesheet" href="/css/bootstrap.css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

            <!-- jQuery, Popper JS, SummerNote y Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>


        {% endblock %}

    </head>
    <body style="background-color:#FEFAF7";>
    <header>
        <!-- TP Diseño De Sistemas 2020 Grupo 2A -->
        <hr>
        <div class="container" >

            <div class="container" >
                <div class="row"  style="background-color:#FFBF83; border-color:#FCA23B";>
                    <div class="col">
                        <h6 class="text-right"> TP DISEÑO DE SISTEMAS 2020 GRUPO 2A</h6>
                    </div>

                </div>
            </div>
            <hr>
            <picture>
                <img src="{{ asset('images/LOGO.PNG') }}" style="max-width:100%;width:auto;height:auto;" class="img-thumbnail">
            </picture>
            <hr>
        </div>
        <!-- breadcrumbs / user -->
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <nav aria-label="breadcrumb"  style="background-color:#FFBF83;" >
                        <ol class="breadcrumb"  style="background-color:#FFBF83;">
                            {% for bread in breadcrumbs() %}
                                {% if bread.0 != null %}
                                    <li class="breadcrumb-item"><a href="{{ bread.0 }}">{{ bread.1 }}</a></li>
                                {% else %}
                                    <li class="breadcrumb-item active">{{ bread.1 }}</li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
                <div class="col-4">


                        <h6> {% if app.user %}

                                <button type="button" id="UserBTN" class="btn btn-light btn-block"> <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                                        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                        <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                                    </svg>
                                    <h4>  {{ app.user }} </h4>
                                </button>



                            {% else %}

                                {#


                            <button type="button" id="" class="btn btn-light btn-block"  onclick=location.href="{{ path('app_login') }}"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-door-open" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M1 15.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM11.5 2H11V1h.5A1.5 1.5 0 0 1 13 2.5V15h-1V2.5a.5.5 0 0 0-.5-.5z"/>
                                    <path fill-rule="evenodd" d="M10.828.122A.5.5 0 0 1 11 .5V15h-1V1.077l-6 .857V15H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117z"/>
                                    <path d="M8 9c0 .552.224 1 .5 1s.5-.448.5-1-.224-1-.5-1-.5.448-.5 1z"/>
                                </svg>Ingresar</button>

                                <button type="button" id="" class="btn btn-light btn-block"  onclick=location.href="{{ path('app_register') }}"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg> Registrarse</button>
                                #}

                                <button type="button" id="UserBTN" class="btn btn-light btn-block"> <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                                        <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                        <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                                    </svg>
                                    <h4> Elias José Suiva {# {{ app.user }} #}</h4>
                                </button>


                            {% endif %}


                        </h6>

                </div>
                <div class="modal fade" id="modalUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="col-12">
                                    <button type="button" id="UserBTN" class="btn btn-light btn-block" data-dismiss="modal"> <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z" />
                                            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                            <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z" />
                                        </svg>
                                        <h4> Elias José Suiva {# {{ app.user }} #} </h4>
                                    </button>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-3"> </div>
                                    <div class="col-6">
                                        <button type="button" id="UserDesconectar" class="btn btn-danger btn-block">Desconectarse</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalUserDesconectar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="alert alert-warning" role="alert">
                            <h4> ¿Seguro que desea salir y cerrar sesion? </h4>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-1">
                            </div>
                            <div class="col-5">
                                <button type="button" id="" class="btn btn-outline-secondary btn-block" onclick=location.href="{{ path('app_login') }}">Si</button>
                            </div>
                            <div class="col-5">
                                <button type="button" class="btn btn-outline-secondary btn-block" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </header>
    <hr>



        {% block body %}
        {% endblock %}
    <hr>
    <div    style="background-color:#D6DBDF">

        {% block javascripts %}


            <script type="text/javascript">

                console.log('JavaScript Extend Base Funcionando');

                $("#UserBTN").on("click", function(e) {
                    e.preventDefault();

                    $('#modalUser').modal();

                });

                $("#UserDesconectar").on("click", function(e) {

                    e.preventDefault();
                    $('#modalUser').modal('hide');
                    $('#modalUserDesconectar').modal();

                });

            </script>



        {% endblock %}

    <hr>

    <footer class="mt-5 p-3 text-center"> Creado por <a style="color: #444; text-decoration: underline;" href="https://twitter.com/JoaaVacca">Joaquin Vacca</a> y <a style="color: #444; text-decoration: underline;" href="https://twitter.com/Elias_Suiva">Elias José Suiva </a> </footer>
    </div>
    </body>
</html>
