{{ form_start(form) }}
<h3>Nueva Competencia Deportiva</h3>
<div class="row">
    <div class="col">
        {{ form_label(form.nombre,'Nombre de la competencia:') }}
        {{ form_widget(form.nombre) }}

    </div>
    <div class="col">
        {{ form_label(form.deporte,'Deporte:') }}
        {{ form_widget(form.deporte) }}
        {{ form_errors(form.deporte) }}
    </div>
</div>
<div class="row">
    <div class="col-6" id="disponibilidades" data-prototype="{{ form_widget(form.disponibilidades.vars.prototype)|e('html_attr') }}">
        {{ form_label(form.disponibilidades, 'Lugar/es y disponibilidad/es necesarias:') }}
        {{ form_widget(form.disponibilidades,{'attr':{
            'visible' : 'false'
        }}) }}
        {{ form_errors(form.disponibilidades) }}
        <hr>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-10">
        {{ form_label(form.modalidad,'Modalidad:') }}
        {{ form_widget(form.modalidad)}}
    </div>

    <div class="col-2 modalidad">

        <div class="modal fade modalModalidadcfg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content" id="modal">
                    <div class="modal-header">
                        <h5 class="modal-title" id="tituloModalidad"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="container">
                            <div id="ocultar">
                                <div class="row">
                                    <div class="col-6">
                                        {{ form_label(form.permiteEmpate,'Permite empate?')}}
                                    </div>
                                    <div class="col-4">
                                        {{ form_widget(form.permiteEmpate) }}
                                        {{ form_errors(form.permiteEmpate) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        {{form_label(form.puntosEmpate,'Puntos por empate:')}}
                                    </div>
                                    <div class="col-4">
                                        {{ form_widget(form.puntosEmpate) }}
                                        {{ form_errors(form.puntosEmpate) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6" >
                                        {{form_label(form.puntosPorPresentarse,'Puntos por presentarse:')}}
                                    </div>
                                    <div class="col-4">
                                        {{ form_widget(form.puntosPorPresentarse) }}
                                        {{ form_errors(form.puntosPorPresentarse) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        {{form_label(form.puntosPartidoGanado,'Puntos por ganar un partido')}}
                                    </div>
                                    <div class="col-4">
                                        {{ form_widget(form.puntosPartidoGanado) }}
                                        {{ form_errors(form.puntosPartidoGanado) }}
                                    </div>
                                </div>
                                <hr>
                             </div>

                            <div class="row">
                                <div class="col-6">
                                    <p>Forma de puntuacion: </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="radio">
                                        <input type="radio" name="fpuntuacion" onclick="funcion1();" id="sets" checked> {{ form_label(form.cantidadMaximaSet,'Cantidad de Sets:') }}
                                    </div>
                                </div>
                                <div class="col-4">

                                    {{ form_widget(form.cantidadMaximaSet) }}
                                    {{ form_errors(form.cantidadMaximaSet) }}

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="radio">
                                        <input type="radio" name="fpuntuacion" onclick="funcion2();" id="puntuacion"> {{ form_label(form.puntosPorNoPresentarse,'Tantos por WO:') }}
                                    </div>

                                </div>
                                <div class="col-4">
                                    {{ form_widget(form.puntosPorNoPresentarse) }}
                                    {{ form_errors(form.puntosPorNoPresentarse) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="radio">
                                        <input type="radio" name="fpuntuacion" onclick="funcion3();" id="resultadofinal"> Resultado Final
                                    </div>
                                </div>
                            </div>

 </div>
                        <hr>
<div class="row">
                            <div class="col-6">
                                <button type="bu" id="buttonAM1" class="btn btn-success btn-block">Guardar</button>
                            </div>
                            <div class="col-6">
                                <button type="button" id="buttonCM1" class="btn btn-danger btn-block" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modalidadNSOC" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <div class="alert alert-danger" role="alert">
                    "POR FAVOR CONFIGURE LA MODALIDAD DE LA COMPETENCIA"
                </div>

                <hr>
                <div class="row">
                    <div class="col-4">
                    </div>

                    <div class="col-4">
                        <button text="center" type="button" class="btn btn-primary btn-block" data-dismiss="modal">Okey</button>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>
<div class="modal fade" id="nombreNoSel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <div class="alert alert-danger" role="alert">
                    "POR FAVOR, INGRESE EL NOMBRE DE LA COMPETENCIA"
                </div>

                <hr>
                <div class="row">
                    <div class="col-4">
                    </div>

                    <div class="col-4">
                        <button text="center" type="button" class="btn btn-primary btn-block" data-dismiss="modal">Okey</button>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>

<div class="modal fade" id="disponibilidadNoSet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <div class="alert alert-danger" role="alert">
                    "POR FAVOR, AÑADA UNA DISPONIBILIDAD"
                </div>

                <hr>
                <div class="row">
                    <div class="col-4">
                    </div>

                    <div class="col-4">
                        <button text="center" type="button" class="btn btn-primary btn-block" data-dismiss="modal">Okey</button>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>

<div class="modal fade" id="modalcam" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <div class="alert alert-warning" role="alert">ADVERTENCIA! MODALIDAD NO CONFIGURADA, PRESIONE 'GUARDAR' PARA CONFIGURAR MODALIDAD.
                </div>

                <hr>
                <div class="row">
                    <div class="col-4">
                    </div>

                    <div class="col-4">
                        <button text="center" type="button" class="btn btn-primary btn-block" data-dismiss="modal">Okey</button>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>
<div class="modal fade" id="alertmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <div class="alert alert-success" role="alert">
                    MODALIDAD CONFIGURADA EXITOSAMENTE.
                </div>

                <hr>
                <div class="row">
                    <div class="col-4">
                    </div>

                    <div class="col-4">
                        <button text="center" type="button" class="btn btn-primary btn-block" data-dismiss="modal">Okey</button>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>
<div class="modal fade" id="alertmodal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <div class="alert alert-danger" role="alert">
                    POR FAVOR COMPLETE LA CONFIGURACION PARA GUARDAR...
                </div>

                <hr>
                <div class="row">
                    <div class="col-4">
                    </div>

                    <div class="col-4">
                        <button text="center" type="button" class="btn btn-primary btn-block" data-dismiss="modal">Okey</button>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>
<hr>
<!--Reglamento-->
<div class="row">
    <div class="col">
        {{ form_label(form.reglamento) }}
        {{ form_widget(form.reglamento) }}
        {{ form_errors(form.reglamento) }}
        <hr>
    </div>
</div>
{{ form_widget(form) }}
<!-- Botones Aceptar y Cancelar -->

<div class="row">
    <div class="col-6">
        <button type="button" id="AceptarBNC" class="btn btn-success btn-lg btn-block">ACEPTAR</button>
    </div>
    <div class="col-6">
        <button type="button" class="btn btn-danger btn-lg btn-block" id="" onclick=location.href="{{path('menu')}}" name="Cancelar">CANCELAR</button>
    </div>
</div>

<div class="modal fade" id="modalAceptarNC" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <div class="alert alert-info" role="alert">
                    <div id="bodyAceptarNC"> </div>
                    <h4> ¿SEGURO QUE DESEA ACEPTAR Y CREAR LA NUEVA COMPETENCIA? </h4>

                </div>
                <hr>
                <div id="BodyDatosCompetencia">
                </div>
                <hr>
                <div class="row">


                    <div class="col-2">
                    </div>
                    <div class="col-4">

                        <button type="submit" class="btn btn-outline-success btn-block" id="bac">{{ button_label|default('ACEPTAR') }}</button>

                    </div>



                    <div class="col-4">
                        <button type="button" class="btn btn-outline-danger btn-block" data-dismiss="modal">CANCELAR</button>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>


{{ form_end(form) }}



