{% extends 'base.html.twig' %}

{% block title %}CompetenciaDeportiva{% endblock %}

{% block body %}
    <h1>CompetenciaDeportiva</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ competencia_deportiva.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ competencia_deportiva.nombre }}</td>
            </tr>
            <tr>
                <th>Reglamento</th>
                <td>{{ competencia_deportiva.reglamento }}</td>
            </tr>
            <tr>
                <th>PermiteEmpate</th>
                <td>{{ competencia_deportiva.permiteEmpate ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>PuntosEmpate</th>
                <td>{{ competencia_deportiva.puntosEmpate }}</td>
            </tr>
            <tr>
                <th>PuntosPartidoGanado</th>
                <td>{{ competencia_deportiva.puntosPartidoGanado }}</td>
            </tr>
            <tr>
                <th>PuntosPorPresentarse</th>
                <td>{{ competencia_deportiva.puntosPorPresentarse }}</td>
            </tr>
            <tr>
                <th>CantidadMaximaSet</th>
                <td>{{ competencia_deportiva.cantidadMaximaSet }}</td>
            </tr>
            <tr>
                <th>FechaBaja</th>
                <td>{{ competencia_deportiva.fechaBaja ? competencia_deportiva.fechaBaja|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>HoraBaja</th>
                <td>{{ competencia_deportiva.horaBaja ? competencia_deportiva.horaBaja|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('competencia_deportiva_index') }}">back to list</a>

    <a href="{{ path('competencia_deportiva_edit', {'id': competencia_deportiva.id}) }}">edit</a>

    {{ include('competencia_deportiva/_delete_form.html.twig') }}
{% endblock %}
